{% extends 'base.html' %}

{% block content %}
<main>
    <h1>These are the items in your shopping list.</h1>
    <h2>If you need to delete your shopping list please click:</h2>
    <div>
        <form method="POST" action="{% url 'shopping_delete' %}">
            {% csrf_token %}
            <button class="button">Delete All</button>
        </form>
    </div>
    <ul style="list-style-type:disc">
        {% for product in products %}
        <li>{{ product.food_item }}</li>
        {% endfor %}
</main>
{% endblock content %}