{% extends 'base.html' %}
{% load static %}
{% load markdownify %}

{% block content %}
<main class="recipe-detail">
    <div>
        <a href="{% url 'meal_plan_edit' meal_plan.id %}">Edit</a>
        <a href="{% url 'meal_plan_delete' meal_plan.id %}">Delete</a>
    </div>
    <h1>Recipes for {{ meal_plan }} on {{ meal_plan.date | date:'M d, y'}}</h1>
    {% for recipe in meal_plan.recipes.all %}
    <div>
        <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
    </div>
    {% endfor %}
</main>
{% endblock content %}