{% extends 'base.html' %}

{% block content %}
<main>
    <h1>A list of all of your meal plans!</h1>
    <h2> Would you like to add a new meal plan? <a href="{% url 'meal_plan_create' %}">Create</a></h2>
    {% for plan in object_list %}
    <div>
        <h2>
            <a href="{% url 'meal_plan_detail' plan.pk %}">{{ plan.name }}</a>
        </h2>
        {% for recipe in plan.recipes.all %}
        <div>
            <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</main>
{% endblock content %}